*{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-between;


}
nav ul{
  list-style: none;
  display: flex;
  gap: 10px;
  
}
ul{
  list-style: none;
}

li:hover{
  color: aqua;
  cursor: pointer;
}
p:hover{
  color: aqua;
  cursor: pointer;

}
footer{
  margin-top: 80vh;
}
.footer-list{
  display: flex;
  justify-content: space-between;
}